@charset "utf-8";

body
{
    font-size: 14px;
    font-family: "Helveica Neue", Helvetica, Arial, sans-serif;
   /** margin:10px;*/
}
h1
{
    font-size: 18px;
    font-weight: 450;
    color: #3b4d64 !important;
    
}
.left-button
{
  margin-top: 15px !important;
  margin-left : 15px !important;
  margin-bottom : 15px !important;
  margin-right : 15px !important;
  height:35px;
  width: 130px;
/*    align-content: center; */
}
.right-button
{
  margin-top: 15px !important;
  margin-left : 15px !important;
  margin-bottom : 15px !important;
  margin-right : 15px !important;
  height:20px;
  width: 130px;
/*    align-content: center; */
}
.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.myLayoutStyleClass .ui-layout-unit-header{
    background: yellow;
}

.myLayoutStyleClass .ui-layout-unit-content{
   background: red;
}
.background {
   background-image: url("../imagens/logo.jpg");
   
}