.ui-widget {
    font-size: 12px !important;
}
.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}
/** Aplica automaticamente aos compoentes prime*/
.ui-widget-header 
{
    text-align: left;
    /*    text-transform: uppercase;*/
}
.ui-button {
    margin-top: 5px !important;
    margin-left : 5px !important;
    margin-bottom : 5px !important;
    margin-right : 5px !important;
    width:100px;
    height:50px;

}
.ui-center-panel {
    margin-top: 200px;
    margin-left : auto;
    margin-bottom : auto;
    margin-right : auto;
    width: 350px;
    display: block;
}
.top-panel {
    margin-top: 100px;
    margin-left : auto;
    margin-bottom : auto;
    margin-right : auto;
    width: 350px;
    display: block;
}
.ui-no-border
{
    border: 0;
    border-width: 0;
    border: none;
    border-style: none;
}
#parent 
{
    display: table;
    width: 100%;
}
#form_login 
{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.data-grid
{
    display: table-cell;
    text-align: center;

    /*   
    alinhao componente exatmente ao centro
    vertical-align: middle;
    */
    width:  100%;
    height:  200px;
    margin-top: 200px ;
    margin-left : 5px !important;
    margin-bottom : 15px !important;
    margin-right : 15px !important;
    left: auto;
    right: auto;
}

.left-button
{
    margin-top: 15px !important;
    margin-left : 5px !important;
    margin-bottom : 15px !important;
    margin-right : 15px !important;
    height:35px;
    width: 115px;
    /*    align-content: center; */
}
.right-button
{
    margin-top: 15px !important;
    margin-left : 5px !important;
    margin-bottom : 15px !important;
    margin-right : 5px !important;
    height:35px;
    width: 115px;
    align-content: center; 
}

.panel-grid 
{
    /*    display: block;*/
    margin-left: auto;
    margin-right: auto;
    /*    width: 40%;*/
}
.form-cadastro-conta 
{
    position:relative;
    height: 185px;
    width: 300px;
    margin: 0 auto;
    padding: 10% 0;
    top:5px;
    text-align: center;
}
.form-cadastro-pessoa 
{
    position:relative;
    height: 99%;
    width: 99%;
    margin:  auto;
    padding: 10% 0;
    top:5px;
}
.form-credito-conta 
{
    position:relative;
    height: 145px;
    width: 325px;
    margin:  auto;
    padding: 10% 0;
    top:5px;
    /*    display: table-cell;*/
    text-align: center;
    /*    vertical-align: middle;*/
    /*    align-content: center; */
}
/*div.container4 {
    height: 10em;
    position: relative 
}*/
.container4 {
    /*    width: 500px;
          height: 200px;*/
    margin: 0;
    /*    background: yellow;*/
    position: absolute;
    top: 25%;
    left: 5%;
    /*    margin-right: -50%;
        transform: translate(-50%, -50%)*/

}
.img
{
    width:50px;
    height: 50px;
}
.form-transfere-limite 
{
    position:relative;
    height: 285px;
    width: 415px;
    margin: 0 auto;
    padding: 10% 0;
    top:5px;
}
.left-button2
{
    /*    color: white;*/
    /*    padding: 14px 20px;*/
    /*    margin: auto;
        border: none;*/
    position: absolute;
    border-radius: 4px;
    /*    cursor: pointer;*/
    width: 110px;
    height:  35px;
    /*    background-color: #4CAF50;*/
    /*    margin-top: 15px !important;*/
    margin-left : 15px;
    /*    margin-bottom : 15px !important;
        margin-right : 15px !important;*/
    /*    height:35px;
        width: 100px;*/
    /*    align-content: center; */
}
.right-button2
{
    position: absolute;
    /*        border: none;
        border-radius: 4px;*/
    /*    margin-top: 15px !important;
        margin-left : 5px !important;
        margin-bottom : 15px !important;
        margin-right : 5px !important;*/
    height:  35px;
    /*    height:35px;*/
    width: 110px;
    /*    width: 100px;*/
    align-content: center; 
     margin-right : 15px;
}
.form-conbranca-diaria 
{
    position:relative;
    height: 145px;
    width: 390px;
    margin: 0 auto;
    padding: 10% 0;
    top:5px;
}
.form-debitar-conta 
{
    position:relative;
    height: 145px;
    width: 322px;
    margin: 0 auto;
    padding: 10% 0;
    top:5px;
}

.datatable-button
{
    position: absolute;
    /*        border: none;
        border-radius: 4px;*/
    /*    margin-top: 15px !important;
        margin-left : 5px !important;
        margin-bottom : 15px !important;
        margin-right : 5px !important;*/
    height:  25px;
    /*    height:35px;*/
    width: 50px;
    /*    width: 100px;*/
    align-content: center; 
}

.input_message
{
    width: 230px; 
    height: 18px;
}

.msg-box-bottom
{
    position : fixed;
    bottom : 0;
    /* And if you want the div to be full-width: */
    left: 0;
    right: 0;

}
.info-panel
{
    width: 100%; 
    height: 80px;
    top:100%;
}
/*.ui-growl{
    position:fixed;
    top:20%;
    left:38%;
    width: 23%;
}*/

/*.ui-growl .ui-state-highlight{
    background: #d2524f;
    border: #d2524f;

}*/

/*.ui-growl-message{      
    float: left;
    font-size: 15px;
    margin: 2% 0 0 22%;
}*/

/*.ui-growl .ui-growl-icon-close{
    background-color:yellow;
}
.ui-state-highlight .ui-icon {
  background-image: url("/showcase/javax.faces.resource/images/ui-icons_ffffff_256x240.png.xhtml?ln=primefaces-omega");
}
.ui-growl {
    position: fixed;
    top: 60px;
    right: 100px;
    width: 800px;

}


.ui-growl-message {
    padding: 0 0 5px 0;
    width: 95%;
    float: left;
}*/
.ui-growl-message-error .ui-growl-item {
    background-color: #cc3f3c;
}

.ui-growl-message-info .ui-growl-item {
    background-color: #3877d4;
}

.ui-growl-message-warn .ui-growl-item {
    background-color: #f5de0e;
}

.ui-growl-message-success .ui-growl-item {
    background-color: #42A948;
}
.msg-box-bottom2
{
    position : absolute;
    bottom : 0;
    /* And if you want the div to be full-width: */
    left: 0;
    right: 0;
/*height:  160px;*/
}
.corrige-header-facet
{
    height: 1px;
}
.container {
    margin-left: 25%;
    height: 0;
    vertical-align: central;
}

/*.center {
    width: 130px;
}*/
.notification-area
{
    width: 300px;
    height: 380px;
}
.panelgrid-cadastro
{
    width: auto;
   height: auto;
   border: none;
}

.ui-datatable-scrollable-header-box table th, .ui-datatable-scrollable-footer-box table th, .ui-datatable-scrollable-body table td{
   width: 20% !important;
}
.driverLicExpCal {
   width: 300px;
}
.ui-calendar  {  
 width: 156px !important;
}