<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">


    <p:layoutUnit position="south"  closable="false" collapsible="true">
        <center>Copyright © 2018 Banco Conductor Operações de Câmbio LTDA. / CNPJ n.º 00.000.999/0000-00 / Avenida Desafio, 2100, 1ºAndar, João Pessoa - Paraíba</center>
        
    </p:layoutUnit>
</ui:composition>
