<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">


<!--    <p:layoutUnit position="north" size="130" minSize="40" maxSize="200" resizable="false" closable="false" collapsible="false">
                <h:graphicImage library="imagens" name="logo.jpg" width="100"  />
    </p:layoutUnit>-->
</ui:composition>
