<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" >

    <h:head>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <h:outputScript library="js" name="jsfcrud.js"/>
    </h:head>

    <p:layoutUnit position="center" header="Àrea de Trabalho" style="color: #3b4d64; ">
        <h:form>
            <!--responsável pelo link about-->
            <f:facet name="actions">
                <p:commandLink
                    styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default">
                    <h:outputText styleClass="ui-icon ui-icon-help" />
                </p:commandLink>
            </f:facet>

            <div style="font-size: 14px; font-family: sans-serif; margin-top:  10px; ">
                <h1>Seja Bem Vindo ! </h1>  <br />
                <h:link onclick="https://bitbucket.org/WilliamMenezes510/bancowebservice/src/master/ ">Repositório GIT</h:link>
                <!--            Esta é uma Aplicação básica que utiliza os seguintes Componentes:<br /> <br />
                            JDK 1.8 <br /> 
                            Maven 4.0 <br /> 
                            JSF 2.2<br /> 
                            MySQL 5.0<br /> 
                            JPA 2.5.2 <br /> 
                            GlassFish 4.1 <br />
                            Frameworks:<br />
                            PrimeFaces 5.0 <br />
                            Netbeans 8.2<br />-->
            </div>

            <div class="container4">
                <img src="resources/demo/images/prime_logo.png" alt="" />
                <img src="resources/imagens/duke.jpg" alt=""/>
                <img src="resources/imagens/jpa.png" alt=""/>
                <img src="resources/imagens/jsf.png" alt=""/>
                <img src="resources/imagens/mysql.gif" alt=""/>
                <img src="resources/imagens/nb.jpg" alt=""/>
                <img src="resources/imagens/glassfish.jpg" alt=""/>
                <img src="resources/imagens/maven.png" alt=""/>
            </div>
            <br />
        </h:form>
    </p:layoutUnit>

    <!--style="background: url('./resources/imagens/logo.jpg') repeat !important;"
    -->
</html>