<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:head>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <h:outputScript library="js" name="jsfcrud.js"/>
    </h:head>
    <p:layoutUnit position="west" size="260" header="Menu" collapsible="true"  resizable="false">
        <h:form>
            <p:link onclick="home()">
                <h:graphicImage library="imagens" name="wgs.PNG" width="250" />
            </p:link>
            <p:panelMenu style="width:250px">
                <p:submenu label="Cadastros" >
                    <p:menuitem value="Pessoas"  outcome="/primefaces/cadastro-pessoa.xhtml" icon="ui-icon-person" />
                    <p:menuitem value="Contas" outcome="/primefaces/cadastro-conta.xhtml" icon="ui-icon-star" />
                </p:submenu>
                <p:submenu label="Operações">
                    <p:menuitem value="Transferência de Limite" outcome="/primefaces/transfere-limite.xhtml" ajax="false" icon="ui-icon-transfer-e-w"/>
                    <p:menuitem value="Creditar Conta" outcome="/primefaces/creditar-conta.xhtml"  ajax="false" icon="ui-icon-arrowreturn-1-n"/>
                    <p:menuitem value="Debitar Conta" outcome="/primefaces/debitar-conta.xhtml"  ajax="false" icon="ui-icon-arrowreturn-1-s"/>
                    <p:menuitem value="Ajustar Cobraça de Encargos" outcome="/primefaces/agendar-cobranca.xhtml"  ajax="false" icon="ui-icon-clock"/>
                </p:submenu>
            </p:panelMenu>
        </h:form>
    </p:layoutUnit>
    <script>
        function home() 
        {
            window.location.href = "http://localhost:8080/BancoConductor/";
            //   window.location.href = "@Url.Action("Action", "Controller")";
        }
    </script>
</ui:composition>
