<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
    </h:head>
    <!--BODY-->
    <h:body>
        <!--Container Principal de toda a Pagina -->
        <p:layout  fullPage="true"  transient="true">
            <!--Menu Esquerdo -->
            <ui:include src="/layout/menu.xhtml" ></ui:include>
            <p:layoutUnit position="center" header="Àrea de Trabalho" style="color: #3b4d64;">
                <p:messages autoUpdate ="true" id="msg"/>
                <div id="parent">
                    <form id="form_login">
                        <!--Formulario em si-->   
                        <h:form id="form">
                            <p:panel class="form-conbranca-diaria" header="Agendamento de Cobrança Diária">
                                <p:panelGrid columns="2" >
                                    <p:outputLabel value="Percentual de Juros ao dia" for="pAtual"/>
                                    <p:inputText id="pAtual" readonly="true"/>
                                     <p:outputLabel value="Atualizar percentual para" for="nome"/>
                                    <p:inputText id="nome" required="true"/>
                                </p:panelGrid>
                                <p:commandButton id="btnOK"  value="Confirmar" action="#" class="left-button2" icon="ui-icon-check"/>
                                <p:commandButton id="btnCancel"  value="Cancelar" action="#"  class="right-button2" icon="ui-icon-cancel"/>
                            </p:panel>
                        </h:form>
                    </form>    
                </div>
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>