<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:head>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <h:outputScript library="js" name="jsfcrud.js"/>
    </h:head>

    <!--layout principal-->
    <p:layout  fullPage="true" >

        <!-- include -->
        <ui:include src="/layout/menu.xhtml" ></ui:include>
        <!--layout filho-->
        <p:layoutUnit header="Àrea de Trabalho" position="center"  style="color: #3b4d64;  height: auto;" >
<!--            <f:facet name="header" >Àrea de Trabalho</f:facet>-->

            <p:spacer height="20"/>
            <!--                      <p:panel>-->
            <h:form id="form-cadastro-pessoa">
                <!--                     <f:view contentType="text/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">
                                         <h:outputText value="#{pessoaMB.json()}" escape="false"/>
                </f:view>-->


                <!--Panel-->
                <!--                <h:panelGrid columns="3" cellspacing="0" cellpadding="0" border="0">-->
                <!--                <h1><p:outputLabel value="Àrea de Trabalho" for="s1" /></h1>
                                <p:separator id="s1" />-->
                <center>
                    <p:panel  id="panelCadastro"   style=" width: 350px; height: auto;"
                              styleClass="ui-table-header-align-center">
                        <f:facet name="header" >Cadastro de Pessoas</f:facet>
                        <!--                    <h1><p:outputLabel value="Cadastro de Pessoas" for="s1" /></h1>-->
                        <!--                    <p:separator title="Cadastro de Pessoas" id="s1" />-->

                        <h:panelGrid columns="2" id="grid" cellpadding="5"  >


                            <p:outputLabel value="Tipo de Pessoa"  for="tpPessoa"  />
                            <p:selectOneMenu id="tpPessoa" style="width:140px">
                                <f:selectItem itemLabel="Fisica" itemValue="F" />
                                <f:selectItem itemLabel="Jurídica" itemValue="J" />
                            </p:selectOneMenu>

                            <p:outputLabel value="Nome" for="nome"  />

                            <p:inputText id="nome" 
                                         required="true" 
                                         maxlength="50" 
                                         alt="Informe o nome da pessoa a ser cadastrada" 
                                         requiredMessage="Favor informar o nome."
                                         title="digite o nome da pessoa"
                                         value="#{pessoaMB.pessoa.nome}"
                                         binding="#{inputNome}"/>
                            <!--                        <p:message for="nome" class="input_message" display="text"/>-->


                            <p:outputLabel value="Sobrenome" for="snome"  />
                            <p:inputText id="snome" 
                                         required="true"
                                         maxlength="50" 
                                         alt="Informe o sobrenome da pessoa a ser cadastrada"
                                         requiredMessage="Favor informar o sobnenome."
                                         title="digite o sobrenome da pessoa"
                                         value="#{pessoaMB.pessoa.sobrenome}"
                                         binding="#{inputSNome}"/>
                            <!--                        <p:message for="snome" class="input_message" display="text" />-->

                            <p:outputLabel value="E-Mail"  for="email"  />
                            <p:inputText id="email" 
                                         required="true" 
                                         maxlength="50" 
                                         alt="Informe o e-mail" 
                                         requiredMessage="Favor informar o e-mail."
                                         placeholder="email@exemlo.com"
                                         title="digite o e-mail da pessoa"
                                         value="#{pessoaMB.pessoa.email}"
                                         binding="#{inputMail}"/>
                            <!--                        <p:message for="email" class="input_message" display="text" />-->

                            <h:outputLabel value="Data de Nascimento" for="dtNasc"/>

                            <!--                             <p:outputLabel for="effect" value="Effect:" />-->
                            <p:calendar id="dtNasc" 
                                        value="#{pessoaMB.pessoa.dataNascimento}" 
                                        required="true" 
                                        maxlength="50"
                                        pattern="dd/dd/yyyy"
                                        alt="Informe a data de nascimento"
                                        requiredMessage="Favor informar a data de nascimento."
                                        title="digite a data de nascimento"
                                        binding="#{inputDtNasc}"
                                        effect="fold"/>
                            <!--                            <p:inputText id="dtNasc" 
                                                                     required="true" 
                                                                     maxlength="50" 
                                                                     alt="Informe a data de nascimento" 
                                                                     requiredMessage="Favor informar a data de nascimento."
                                                                     title="digite a data de nascimento"
                                                                     value="#{pessoaMB.pessoa.dataNascimento}"
                                                                     binding="#{inputDtNasc}"/>-->

                            <p:outputLabel value="Sexo"  for="sex"  />
                            <p:selectOneMenu id="sex"
                                             style="width:140px">
                                <f:selectItem itemLabel="Masculino" itemValue="M" />
                                <f:selectItem itemLabel="Feminino" itemValue="F" />
                            </p:selectOneMenu>

                            <p:outputLabel value="CPF/CNPJ"  for="cpfcnpj" />
                            <p:inputText id="cpfcnpj" 
                                         required="true" 
                                         maxlength="50" 
                                         alt="Informe o CPF ou CNPJ" 
                                         requiredMessage="Favor informar o CPF ou CNPJ"
                                         title="digite o cpf ou cnpj" />

                            <p:outputLabel value="RG"  for="rg"/>
                            <p:inputText id="rg" 
                                         required="true" 
                                         maxlength="50" 
                                         alt="Informe o RG" 
                                         requiredMessage="Favor informar o RG"
                                         title="digite o RG"  />
                        </h:panelGrid>

                        <!--funciona como um separador -->
                        <!--                    <p:panel  style="width: 500px; border: none;"></p:panel>-->


                        <!--                </h:panelGrid> -->

                        <p:commandButton id="btnOK" 
                                         value="Enviar"
                                         actionListener="#{messagesView.info}"  
                                         update="grid"
                                         action="#{pessoaMB.adcionar(inputNome.value, inputSNome.value, inputMail.value)}"
                                         class="left-button2" 
                                         icon="ui-icon-check"
                                         title="Confirmar cadastro"/>

                        <p:commandButton id="btnCancel"  
                                         value="Reset" 
                                         action="#" 
                                         class="right-button2" 
                                         icon="ui-icon-cancel"/>
                    </p:panel>
                </center>


            </h:form>


            <p:spacer height="115"/>
            <div>
                <h:form >

                    <!--              <h1><p:outputLabel value="Àrea de Dados" for="s2"/></h1>-->
                    <p:separator id="s2" />


                    <!--                <p:draggable for="tabelaPessoa"/>-->
                    <!--                                <p:panel  id ="a" header="Àrea de Dados"  > -->
                    <!--                <p:panel id="panelDados"   style="width: 100%; height: 100%; border:0; ">-->
                    <!--                    <h1><p:outputLabel value="Dados" for="s2" /></h1>-->
                    <!--                    <p:separator title="Dados" id="s2" ></p:separator> -->

                    <p:dataTable value="#{pessoaMB.pessoas}"
                                 var="p"  
                                 id="tabelaPessoa" 
                                 rows="5" 
                                 paginator="true" 
                                 paginatorAlwaysVisible="false" 
                                 paginatorPosition="bottom"
                                 caseSensitiveSort="true"
                                 emptyMessage="Sem Dados."

                                 >
                        <f:facet name="header">Lista de Pessoas</f:facet>
                        <p:column headerText="id" width="3%" sortBy="#{p.id}">  <h:outputText value="#{p.id}"/> </p:column>
                        <p:column headerText="Nome"  width="5%" sortBy="#{p.nome}"><h:outputText value="#{p.nome}"/></p:column>
                        <p:column headerText="Sobrenome"  width="8%" sortBy="#{p.sobrenome}"><h:outputText value="#{p.sobrenome}"/></p:column>
                        <p:column headerText="E-mail"   width="10%" sortBy="#{p.email}" ><h:outputText value="#{p.email}"/> </p:column>
                        <p:column headerText="Data de Nascimento" width="8%" sortBy="" ><h:outputText value=""/> </p:column>
                        <p:column headerText="Sexo"   width="3%" sortBy="" ><h:outputText value=""/> </p:column>
                        <p:column headerText="CPF/CNPJ"   width="8%" sortBy="" ><h:outputText value=""/> </p:column>
                        <p:column headerText="RG"   width="8%" sortBy="" ><h:outputText value=""/> </p:column>
                        <p:column headerText="Tipo"   width="5%" sortBy="" ><h:outputText value=""/> </p:column>
                        <p:column headerText="Ações" width="70">
                            <!--alinha os botoes lado a lado -->
                            <h:panelGroup style="white-space: nowrap">
                                <p:button id="btnAdd" title="Adcionar" class="datatable-button" icon="ui-icon-plus"/>
                                <p:button id="btnEdit"  title="Editar"  class="datatable-button" icon="ui-icon-scissors"/>
                                <p:button id="btnExcluir" title="Excluir" class="datatable-button" icon="ui-icon-trash"/>
                            </h:panelGroup>
                        </p:column>
                    </p:dataTable>
                    <!--</p:panel>-->
                </h:form>
            </div>


        </p:layoutUnit>
        <p:layoutUnit size="325"  header="Informações" id="pInfo" style="border: none;" class="notification-area" position="east">
            <p:panel  style="height: 170px;">
                <h:form>
                    <p:growl  showSummary="false" showDetail="true" >
                        <p:autoUpdate />
                    </p:growl> 
                </h:form>
            </p:panel> 

            <div style="width:200px">
                <h:form>
                    <p:calendar value="#{calendarView.date1}" 
                                mode="inline"/>
                </h:form>
            </div><!--
                        <p:panel header="Data e Hora" >

            <h:form>
                                    <h3 style="margin-top:0">Client</h3>
                                    <p:clock />

                                    <h3>Data e Hora</h3>
                                    <p:clock pattern="HH:mm:ss dd.MM.yyyy" mode="server" />

                                    <h3>Analog</h3>
                <p:clock  displayMode="analog"/>
            </h:form>-->

        </p:layoutUnit> 

        <!--FOOTER -->
        <ui:include src="../layout/footer.xhtml" ></ui:include>
    </p:layout>
</ui:composition>
