<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <h:head>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
    </h:head>
    <h:body>
        <p:layout fullPage="true">
            <!-- Menu Esquerdo -->
            <ui:include src="/layout/menu.xhtml" ></ui:include>
            <!--componente obrigatório do primefaces, removida a borda para usar panel-->
            <p:layoutUnit position="center" header="Àrea de Trabalho" style="color: #3b4d64;">
                <p:messages autoUpdate ="true" id="msg"/>
                <div id="parent">
                    <form id="form_login">
                        <h:form id="form">
                            <p:panel header="Cadastro de Contas" class="form-cadastro-conta">
                                <p:panelGrid columns="2" >
                                    <p:outputLabel value="Pessoa" for="dropDownPessoa"/>
                                    <p:selectOneMenu id="dropDownPessoa" 
                                                     value="#{selectOneMenuView.console}" 
                                                     style="width:140px"
                                                     required="true" 
                                                     requiredMessage="Favor Selecionar uma pessoa">
                                    <f:selectItem itemLabel="Pessoa 1" itemValue="" />
                                    <f:selectItem itemLabel="Pessoa 2" itemValue="Xbox One" />
                                    </p:selectOneMenu>
                                    <p:outputLabel value="Nº Conta" for="conta"/>
                                    <p:inputText id="conta" required="true"/>
                                    <p:outputLabel value="Limite" for="limite" />
                                    <p:inputText id="limite" required="true"/>
                                </p:panelGrid>
                                <p:commandButton id="btnOK"  value="Confirmar" action="#" class="left-button2" icon="ui-icon-check"/>
                                <p:commandButton id="btnCancel"  value="Cancelar" action="#" class="right-button2" icon="ui-icon-cancel"/>
                            </p:panel>
                        </h:form>
                    </form>    
                </div>
            </p:layoutUnit>
        </p:layout>
    </h:body>
</ui:composition>