<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">


    <h:head>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
    </h:head>
    <h:body>

        <p:layout  fullPage="true"  transient="true">
            <!--Menu Esquerdo -->
            <ui:include src="/layout/menu.xhtml" ></ui:include>
            <!--componente obrigatório do primefaces, removida a borda para usar panel-->
            <p:layoutUnit position="center" header="Àrea de Trabalho" style="color: #3b4d64;">
                <p:messages autoUpdate ="true" id="msg"/>
                <div id="parent">
                    <form id="form_login">
                        <!--Formulario em si-->
                        <h:form id="form" >
                            <p:panel class="form-credito-conta" header="Crédito de Contas">
                                <p:panelGrid columns="2" >
                                    <p:outputLabel value="Conta Crédito" for="contaCredito"/>
                                    <p:selectOneMenu id="contaCredito" 
                                                     value="#{selectOneMenuView.console}" 
                                                     style="width:140px"
                                                     required="true" 
                                                     requiredMessage="Favor Selecionar para creditar">
                                        <f:selectItem itemLabel="Conta 1" itemValue="" />
                                        <f:selectItem itemLabel="Conta 2" itemValue="Xbox One" />
                                    </p:selectOneMenu>
                                    <p:outputLabel value="Valor" for="valorCredito"/>
                                    <p:inputText id="valorCredito" required="true"/>
                                </p:panelGrid>
                                <p:commandButton id="btnOK"  value="Confirmar" action="#"  class="left-button2" icon="ui-icon-check"/>
                                <p:commandButton id="btnCancel"  value="Cancelar" action="#"  class="right-button2" icon="ui-icon-cancel"/>
                            </p:panel>
                        </h:form>
                    </form>    
                </div>
            </p:layoutUnit>
            <!--FOOTER -->
            <!--ui:include src="footer.xhtml" ></ui:include-->
        </p:layout>
    </h:body>
</html>
