<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
       xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <p:panelGrid columns="2" style="position: absolute; top:250px; left: 500px;">
                <f:facet name="header">Login Form</f:facet>
                <h:outputText value =""></h:outputText>
                <p:inputText value ="#{loginController.user}"/>
                 <h:outputText value =""></h:outputText>
                 <p:inputText value ="#{loginController.pass}"/>
                 <f:facet name="footer">
                     <p:commandButton value ="Login" action="#{loginController.loginControl()}"
                 </f:facet>
            </p:panelGrid>
        </h:form>
    </h:body>
</html>

