<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://java.sun.com/jsf/html"
       xmlns:f="http://java.sun.com/jsf/core"
       xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:p="http://primefaces.org/ui"
       xmlns:pe="http://primefaces.org/ui/extensions">
  
<h:head>
</h:head>
<h:body>
  
       <ui:include src="/templates/processing.xhtml" />
       <p:growl autoUpdate="true" />
  
       <div id="container">
  
             <div id="login_box">
                    <div id="logo_login">
                           <h:graphicImage value="/resources/imagens/logo.jpg" width="120" />
                    </div>
                    <div id="titulo_login">Acesso Restrito</div>
                    <div id="subtitulo_login">Apenas Pessoas autorizadas podem
                           acessar este painel</div>
                    <h:form id="formLogin" enctype="multipart/form-data">
  
                           <p:growl autoUpdate="true" id="messages" />
  
                           <p:panelGrid styleClass="semBorda" columns="2">
  
                                  <h:outputText value="Login: " />
                                  <p:inputText value="#{usuarioLogadoMB.login}" size="37" />
  
                                  <h:outputText value="Senha: " />
                                  <p:password value="#{usuarioLogadoMB.senha}" size="37" />
  
                           </p:panelGrid>
  
                           <br />
                           <br />
                           <p:panelGrid columns="2" styleClass="semBorda">
                                  <p:commandButton icon="ui-icon-unlocked" value="Entrar"
                                        action="#{usuarioLogadoMB.doLogin}" />
                                  <p:commandButton icon="ui-icon-mail-closed" value="Recuperar Senha"
                                        onclick="varDialogResetarSenha.show()" type="button" />
                           </p:panelGrid>
  
                    </h:form>
                     
                    <h:form>
                    <p:dialog id="dialogResetarSenha" header="Resetar Senha"
                           widgetVar="varDialogResetarSenha" modal="true" showEffect="fade" resizable="false"
                           hideEffect="fade">
                           <p:panelGrid styleClass="semBorda" columns="1">
                                  <p:inputText value="#{usuarioLogadoMB.login}" required="true" size="60"
                                        requiredMessage="O login é obrigatório" id="loginRecuperaSenha" />
                                  <p:watermark value="Digite seu login" for="loginRecuperaSenha" />
                                   
                                  <p:inputText value="#{usuarioLogadoMB.email}" required="true" size="60"
                                        requiredMessage="O email é obrigatório" id="emailRecuperaSenha" />
                                  <p:watermark value="Digite seu email" for="emailRecuperaSenha" />
                           </p:panelGrid>
                                  <p:commandButton value="Confirmar" icon="ui-icon-circle-check"
                                        actionListener="#{usuarioLogadoMB.solicitarNovaSenha}"
                                        oncomplete="if (!args.validationFailed){varDialogResetarSenha.hide()}" />
                                  <p:commandButton value="Cancelar" type="button" icon="ui-icon-circle-close"
                                        onclick="varDialogResetarSenha.hide()" />
  
                    </p:dialog>
             </h:form>
  
             </div>
  
  
       </div>
       <!-- div container -->
</h:body>
</html>