<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <head>
            <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" />
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<!--      Import Google Icon Font
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      Import materialize.css
      <link type="text/css" rel="stylesheet" href="../resources/css/materialize.min.css"  media="screen,projection"/>

      Let browser know website is optimized for mobile
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
    </head>

    <body>
 <div class="valign-wrapper" id="login-page">
            <div class="container">
                <div class="center-align">
                    <div class="row">
                        <div class="col s6 offset-s3">
                            <div class="card">
                                <div class="card-content">
                                    <img  src="../resources/imagens/duke.jpg" style="max-width: 64px;" />
                                    <div class="left-align">
                                        <h:form id="form-login">
                                            <p:growl autoUpdate="true" />
                                            <div class="row">
                                                <div class="col s12 input-field">
                                                    <h:inputText id="username" value="#{login.username}" required="true" requiredMessage="User required" />
                                                    <h:outputLabel for="username" value="User" />
                                                </div>
                                                <div class="col s12 input-field">
                                                    <h:inputText id="password" required="true" value="#{login.password}" requiredMessage="Password required!" />
                                                    <h:outputLabel for="password" value="Password" />
                                                </div>
                                                <div class="col s12 input-field">
                                                    <h:commandLink value="Go!" styleClass="btn btn-large" actionListener="#{login.access()}" />
                                                </div>
                                            </div>
                                        </h:form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).on("ready",function(){
                $('#login-page').css({'height': window.innerHeight + 'px'});
            });
        </script>
      <!--JavaScript at end of body for optimized loading-->
<!--      <script type="text/javascript" src="../resources/js/materialize.min.js"></script>-->
    </body>
  </html>