<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">


    <h:head>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
    </h:head>
    <h:body>
        <p:layout  fullPage="true"  transient="true">
            <!--Menu Esquerdo -->
            <ui:include src="/layout/menu.xhtml" ></ui:include>
            <p:layoutUnit position="center" header="Àrea de Trabalho" style="color: #3b4d64;">
                <p:messages autoUpdate ="true" id="msg"/>
                <div id="parent">
                    <form id="form_login">
                        <!--Formulario em si-->
                        <h:form id="form" >
                            <p:panel  class="form-transfere-limite" header="Transferêmcia de Limites">
                                <p:panelGrid columns="2" >
                                    <p:outputLabel value="Conta Origem" for="contaOrigem"/>
                                    <p:selectOneMenu id="contaOrigem" 
                                                     value="#{selectOneMenuView.console}" 
                                                     style="width:140px"
                                                     required="true" 
                                                     requiredMessage="Favor Selecionar uma Conta de Origem">
                                        <f:selectItem itemLabel="Conta 1" itemValue="" />
                                        <f:selectItem itemLabel="Conta 2" itemValue="Xbox One" />
                                    </p:selectOneMenu>
                                    <p:outputLabel value="Lim. atual da conta de Origem" for="limiteContaOrigem"/>
                                    <p:inputText id="limiteContaOrigem" readonly="true"/>
                                    <p:outputLabel value="Conta Destino" for="contaDestino"/>
                                    <p:selectOneMenu id="contaDestino" 
                                                     value="#{selectOneMenuView.console}" 
                                                     style="width:140px"
                                                     required="true" 
                                                     requiredMessage="Favor Selecionar uma Conta de Destino">
                                        <f:selectItem itemLabel="Conta 1" itemValue="" />
                                        <f:selectItem itemLabel="Conta 2" itemValue="Xbox One" />
                                    </p:selectOneMenu>
                                    <p:outputLabel value="Lim. atual da conta de Destino" for="limiteContaDestino"/>
                                    <p:inputText id="limiteContaDestino" readonly="true"/>
                                    <p:outputLabel value="Disponível para Transferência" for="disponTransferencia"/>
                                    <p:inputText id="disponTransferencia" readonly="true"/>
                                    <!--Slider-->
                                    <p:inputText id="decimal" value="10000" />
                                    <p:slider for="decimal" minValue="0.0" maxValue="9999" step="0.1" />
                                </p:panelGrid>
                                <p:commandButton id="btnOK"  value="Confirmar" action="#" class="left-button2" icon="ui-icon-check"/>
                                <p:commandButton id="btnCancel"  value="Cancelar" action="#"  class="right-button2" icon="ui-icon-cancel"/>
                            </p:panel>
                        </h:form>
                    </form>    
                </div>
            </p:layoutUnit>
        </p:layout>
        <!--FOOTER -->
        <!--ui:include src="footer.xhtml" ></ui:include-->
    </h:body>
</html>
