<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PessoaCreateDlg" widgetVar="PessoaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreatePessoaTitle}">
            <h:form id="PessoaCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{pessoaController.selected != null}">
                        <p:outputLabel value="#{bundle.CreatePessoaLabel_sobrenome}" for="sobrenome" />
                        <p:inputText id="sobrenome" value="#{pessoaController.selected.sobrenome}" title="#{bundle.CreatePessoaTitle_sobrenome}" />
                        <p:outputLabel value="#{bundle.CreatePessoaLabel_email}" for="email" />
                        <p:inputText id="email" value="#{pessoaController.selected.email}" title="#{bundle.CreatePessoaTitle_email}" />
                        <p:outputLabel value="#{bundle.CreatePessoaLabel_nome}" for="nome" />
                        <p:inputText id="nome" value="#{pessoaController.selected.nome}" title="#{bundle.CreatePessoaTitle_nome}" />
                        <p:outputLabel value="#{bundle.CreatePessoaLabel_id}" for="id" />
                        <p:inputText id="id" value="#{pessoaController.selected.id}" title="#{bundle.CreatePessoaTitle_id}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{pessoaController.create}" value="#{bundle.Save}" update="display,:PessoaListForm:datalist,:growl" oncomplete="handleSubmit(args,'PessoaCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PessoaCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
