<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ContaEditDlg" widgetVar="ContaEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditContaTitle}">
            <h:form id="ContaEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{contaController.selected != null}">
                        <p:outputLabel value="#{bundle.EditContaLabel_limite}" for="limite" />
                        <p:inputText id="limite" value="#{contaController.selected.limite}" title="#{bundle.EditContaTitle_limite}" />
                        <p:outputLabel value="#{bundle.EditContaLabel_saldo}" for="saldo" />
                        <p:inputText id="saldo" value="#{contaController.selected.saldo}" title="#{bundle.EditContaTitle_saldo}" />
                        <p:outputLabel value="#{bundle.EditContaLabel_id}" for="id" />
                        <p:inputText id="id" value="#{contaController.selected.id}" title="#{bundle.EditContaTitle_id}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{contaController.update}" value="#{bundle.Save}" update="display,:ContaListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ContaEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ContaEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
