<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <h:outputScript library="js" name="jsfcrud.js"/>
    </h:head>
    <h:body>
        <!--layout principal-->
        <p:layout fullPage="true">
            <!--West-->
            <ui:include src="./layout/menu.xhtml" ></ui:include>
                <!--Center-->
            <ui:include src="./layout/home.xhtml" ></ui:include>
                <!--South-->
            <ui:include src="./layout/footer.xhtml" ></ui:include>
        </p:layout>
        <br />
        <h:link outcome="/pessoa/List" value="Show All Pessoa Items"/>
        <br />
        <h:link outcome="/conta/List" value="Show All Conta Items"/>
        <br />
        <h:link outcome="/conta/List" value="Show All Conta Items"/>
        <br />
        <h:link outcome="/pessoa/List" value="Show All Pessoa Items"/>
        <br />
        <h:link outcome="/conta/List" value="Show All Conta Items"/>
        <br />
        <h:link outcome="/pessoa/List" value="Show All Pessoa Items"/>
    </h:body>






</html>
